.myFormExample {
  width: 800px;
  margin: 0 auto;
  border: 3px solid #000;
  background-color: #ddd;
  padding: 12px;
}

.myFormExample label {
  display: block;
  margin: 16px auto 0;
}

.myFormExample input,
.myFormExample select {
  border: 1px solid #000;
  background-color: #fff;
  padding: 2px 4px;
  margin: 0 8px;
}
